__pycache__/
*.py[cod]
config.json
session.session
*.log
.venv/
session.session  
test_session.session  
session.session-journal 
session.session-* 
auto_state.json 
scripts/dialogs.json 
scripts/answer.txt 
scripts/._*_read 
scripts/.orders_read 
scripts/.sent_read 
scripts/.questions_read 
session.helper 
dolphin_token.json
scripts/lzt_token.json 
scripts/dolphin_token.json 
prices/ 
